
/* Light/Dark mode par rapport au système */

@media (prefers-color-scheme: light) {


}
@media (prefers-color-scheme: dark) {
    
}







                        /* Respensive Design */


/* Pour les tablettes */

@media screen and (max-width:1024px) and (min-width:539px)  {

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    /* Le header */

    nav ul{
    gap: 5px;   
}
    #onMobilePhone{
        display: none;
    }

    .openSideBar{
        display: flex;
    }
    .openPanier{
display: block;
}

    /* Le footer */
    footer{
        font-size: clamp(3px, 1.5vw, 15px);

    }
    footer ul{
        flex-direction: column;
        gap: 5px;
    }
 
footer .btn-contact{
    height: 2.5em;
    font-size: clamp(3px, 1.5vw, 15px);
    margin: 0 5px;

}

    /* Le container */
    
    .welcome-message{
        gap: 2vw;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 96%;

        gap: 10px;
        
    }

    .section1{
        width: 100%;
        height: 67.5%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    

    .section2{
        width: 100%;
        height: 30%;
        padding: 0;

    }

    .section1Produits{
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .choixSupermarche img{
    width: 40px 
}




    .panier{
    position: absolute;
    top: 0;
    right: 0;
    scale: 0;
    background-color: var(--cart-color); 
    box-shadow: var(--panier-box-shadow);
    width: 50%;
    height: 50%;
    border-radius: 20px;
    transition: var(--transition3s);
    z-index: 15;
    font-size:clamp(11px, 2.5vw, 23px);

    background-color: aquamarine;
}
.panier.active{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 1;
}


.choixSupermarche img{
        width: 50px;
    }
    .panier .prix{
        font-size: clamp(11px, 2.5vw, 15px);
    }
    .panier .Total{
        font-size: clamp(13px, 3vw, 17px);

    }
    .panier button{
        height: 40px;
    }
    .panier button:hover{
        scale: 1;
    }



    .ranking{
        display: flex;
        width: 100%;
        height: 100%;
        font-size: clamp(3px, 2vw, 15px);
    }

    .titre.ranking{
        font-size: clamp(3px, 3vw, 15px);

    }

}

/* Pour les tablettes en mode paysage */

@media screen and (max-width:1024px) and (min-width:539px) and (orientation: landscape) { 

    .welcome-message {
       gap: 5px;
       margin: 0 0 2%;
    }
    .welcome-message h1{
        height: 30px;
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .welcome-message h3{
        height: 20px;
        font-size: 11px;
        display: flex;
        align-items: center;
    }

    .panier{
        height: 70%;
        width: 40%;
    }
    .choixSupermarche img{
        width: 50px;
    }
    .panier .prix{
        font-size: clamp(9px, 1.5vw, 14px);
    }
    .panier .Total{
        font-size: clamp(13px, 3vw, 17px);

    }
    .panier button{
        height: 40px;
    }
    .panier button:hover{
        scale: 1;
    }
 }




/* Pour les téléphones */

@media screen and (max-width:540px) {

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    /* Le header */

    nav ul{
    gap: 5px;   
}
    #onMobilePhone{
        display: none;
    }

    .openSideBar{
        display: flex;
    }
    .openPanier{
display: block;
}

    /* Le footer */
    footer{
        font-size: clamp(3px, 1.5vw, 15px);

    }
    footer ul{
        flex-direction: column;
        gap: 5px;
    }
 
footer .btn-contact{
    height: 2.5em;
    font-size: clamp(3px, 1.5vw, 15px);
    margin: 0 5px;

}

    /* Le container */
    
    .welcome-message{
        gap: 2vw;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 96%;

        gap: 10px;
        
    }

    .section1{
        width: 100%;
        height: 67.5%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    

    .section2{
        width: 100%;
        height: 30%;
        padding: 0;

    }

    .section1Produits{
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .choixSupermarche img{
    width: 40px 
}




    .panier{
    position: absolute;
    top: 0;
    right: 0;
    scale: 0;
    background-color: var(--cart-color); 
    box-shadow: var(--panier-box-shadow);
    width: 50%;
    height: 50%;
    border-radius: 20px;
    transition: var(--transition3s);
    z-index: 15;
    font-size:clamp(11px, 2.5vw, 23px);

    background-color: aquamarine;
}
.panier.active{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 1;
}


.choixSupermarche img{
        width: 50px;
    }
    .panier .prix{
        font-size: clamp(11px, 2.5vw, 15px);
    }
    .panier .Total{
        font-size: clamp(13px, 3vw, 17px);

    }
    .panier button{
        height: 40px;
    }
    .panier button:hover{
        scale: 1;
    }



    .ranking{
        display: flex;
        width: 100%;
        height: 100%;
        font-size: clamp(3px, 2vw, 15px);
    }

    .titre.ranking{
        font-size: clamp(3px, 3vw, 15px);

    }

}



/* Pour les téléphones en mode paysage */
@media screen and (max-width:1024px) and (max-height:570px) and (orientation: landscape) {
 
body{
    min-width: 100dvw;
    min-height: 100dvh;
}
  /* Le CONTAINER */

  /* Le header et le footer */
header , footer{
    width: 100%;
    /* font-size: clamp(8px, 1.5vw, 15px); */
}

/* le header */
nav ul{
    gap: 5px;
    font-size: clamp(13px, 4vh, 20px);

}

.sideBar.active{
    width: 30%;
}

.sideBar select,#lesRayons{
    font-size: clamp(13px, 4vh, 20px);

}

.lesRayonsSBContainer ul{
    margin:5px ;
    height: 100%;
}
.lesRayonsSB{
    padding-top: 0;
}

.lesRayonsSB li{
    height: clamp(18px, 2.5vw, 35px);
    font-size: clamp(13px, 3.5vh, 18px);
    margin-bottom: 5px;
}
.lesRayonsSB li:first-child{
    margin-bottom: 6px;
}

footer{
    height: 70px;
    font-size: clamp(8px, 1.5vw, 15px);
}


/* LE CONTAINER */

  .section1Produits {
    gap: 3px;
  }

  .welcome-message {
    display: none;
  }

    .header #sect1P2H2,
    .header #trierPar,
    .header select {
        font-size: clamp(8px, 1.5vw, 10px);
    }

    .section1{
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        gap: 10px;
    }
    .section1Produits {
        flex-grow: 1;
        height: 95%;
    }
    .containerProduits .produit {
        height: 120px;
        width: 100px;
    }
   
    .containerProduits .produit img {
        height: 50px;
        width: 50px;
    }
    .containerProduits .produit .nom {
        font-size: clamp(8px, 1.5vw, 12px);
    }
    .containerProduits .produit .prix {
        font-size: clamp(8px, 1.5vw, 12px);
    }
    .containerProduits .produit svg {
        height: 20px;
        width: 20px;
    }

    .ranking {
        width: 25%;
        height: 90%;
       
    }
    .ranking .titre, 
    .ranking .prixTotal {
        font-size: clamp(12px, 2vw, 18px);
    }

    .panier {
        width: 40%;
        height: 85%;
        font-size: clamp(8px, 1.5vw, 15px);
    }
    .panier select {
        height: 50%;
        font-size: clamp(8px, 1.5vw, 12px);
    }

    .choixSupermarche img {
        width: 20px;
    }
   
    .panier #total,
    .panier .prixTotal
     {
        font-size: clamp(10px, 2vw, 18px);
        overflow: hidden;
    }

    button{
        height: 30px;
        overflow: hidden;
    }
    .button{
        overflow: hidden;
    }

    
}






/* Pour les écrans extra */

@media screen and (min-width:1800px) {

    
}