:root {
    --principal-color: #ffffff;
    --header-footer-color:  #fcfcfc;
    --header-footer-line:  #f3efef;
    --second-color:  #e5e5f9;
    --third-color:  #b3b3d8;
    --cart-border-color: #bdbdea ;
    --cart-color: #9797d9;
    --button-color: #4040ac; 
    --text-one: #ffffff;
    --text-two: #000000;
    --text-promo: red; 
    --font-familly1: "Josefin Sans", sans-serif; 
    --font-familly2: "Montserrat", sans-serif;
    --promo-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    --achat-box-shadow:inset 0px 0px 8px -1px rgb(0, 0, 0);

    /* --panier-box-shadow: inset 0px 0px 8px -2px rgba(36, 36, 72, 1); */
    /* --ranking-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    --AddToCart-color:#5353b4; 
    --AddToCart-BgColor:#7474dd;
    --btn-theme-hoverBgColor:#303064;
    --btn-theme-hoverColor:#e5e5f9  ;
    --transition3s: all .3s ease-in-out;
    --transition2s: all .2s ease-in-out;
    --transition1s: all .1s ease-in-out;
    --logo:#7474dd;
 }

 .darkmode{
    --principal-color:  #303064;
    --header-footer-color:  #2e2e5e;
    --header-footer-line:  #2a2a54;
    --second-color: #242448 ;
    --third-color:  #1c1c36;
    --text-two: #ffffff;
    --text-one: #000000;
    --promo-box-shadow: rgba(151, 151, 217, 0.1) 0px 1px 0px;
    --achat-box-shadow: inset 0px 0px 8px -1px rgb(17, 16, 16);
    /* --panier-box-shadow: inset 0px 0px 8px -2px rgb(0, 0, 0); */
    /* --ranking-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    --text-promo: rgb(216, 60, 60);
    --AddToCart-color: #ddd7e9 ;
    --AddToCart-BgColor:#7474dd;
    --btn-theme-hoverBgColor:#ffffff;
    --btn-theme-hoverColor:#000000 ;
 }

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* outline: 1px solid red; */
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--principal-color); 
    color: var(--text-two);
    font-family: var(--font-familly1);
    height: 100vh;
}

/* Les styles génériques */

a{
    cursor: pointer;
    text-decoration: none;
}

img[alt]{
    font-size: clamp(3px, 5vw, 10px);
}

header a, footer a{
    color:var(--text-two);
    text-align: center;
}


/* Le header */
header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--header-footer-line);
}

nav{
    width: 100%;
    height: 100%;
    background-color: var(--header-footer-color);
    color:var(--text-two);
    overflow: hidden;
}

nav svg{
    fill: var(--text-two);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    padding:0 10px;
    height: 100%;
    border-bottom: 1px solid var(--header-footer-line);
}



/* Le logo */
ul .logo{
    font-size:clamp(8px, 1.5vw, 16px) ;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    padding-right: 5px;
    overflow: hidden;
}
nav ul li:first-child{
    overflow: hidden;
    height: 20px;
}

.logo h2{
   padding-right:15px;
   border-right: 1.5px solid var(--second-color);
   font-size: clamp(10px, 3vw, 20px);
}
.logo h2::before{
    content: 'Be';
    color: var(--logo);
}

/* Les rayons */
nav .dropdown{
    width: 15%;
    margin: 0 0 0 10px;
    transition: var(--transition2s);
}
.dropdown button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    gap: 3px;
    margin: 11px 0;
    font-size: clamp(8px, 1.5vw, 16px);
    border-radius: 20px;
    color: var(--text-two);
    background-color: var(--header-footer-color);
    border: 1px solid var(--second-color);
    cursor: pointer;
    transition: var(--transition3s);
    font-family: var(--font-familly1);
}

.dropdown button:hover{
    height: 30px;
    width: 100%;
    border: 1px solid var(--third-color);
    border-radius: 20px;
    background: var(--second-color);
}

.dropdown button svg{
    width: clamp(8px, 2vw, 16px);
    fill:var(--text-two) ;
}


.dropdown .content{
    display: none;
    align-items: center;
    justify-content: center;
    position:absolute;
    left: 0;
    border-top: 1px solid var(--header-footer-line);
    background-color: var(--header-footer-color);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    height: 20%;
    width: 100%;
    z-index: 10;
}

 .dropdown:hover .content{
    display: flex;
 }

.dropdown .content > a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width:15% ;
    gap: 10px;
    cursor: pointer;
    transition: var(--transition3s);

}
.dropdown .content a:hover{
    background: var(--second-color);
}
.dropdown .content img{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

/* La barre de recherche */
.search{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.search input{
    width: 100%;
    height:30px;
    border-radius: 15px;
    background-color: var(--second-color);
    border: .5px solid var(--third-color) ;
    padding: 0 0 0 35px;
    color:var(--text-two);
}

.search input::placeholder{
    font-family: var(--font-familly1);
    font-size: clamp(.4rem, 2.5vw, .9rem);
    color: var(--AddToCart-BgColor);
    opacity: 0.6;
}

.search-icon{
    position: relative;
    top: 0 ;
    left: 30px ;
    border-right: 1px solid var(--third-color);
}

.clean-search-bar{
    display: flex;
    position: relative;
    right: 23px ;
    opacity: 0;    
    cursor: pointer;
    transition: var(--transition2s); 
}
.clean-search-bar:hover{
    background-color: var(--cart-color);
    border-radius: 50%;
}

/* Le changement de la langue de la page */

nav .Traducteur{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
     border-radius: 15px;
    cursor: pointer;
    border: none;
    z-index: 1;

}


.Traducteur #output{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    gap: 3px;
}

.Traducteur #output:hover{
    background-color: var(--third-color);
}

.Traducteur #langMenu{
  display:flex;
  flex-direction:column;
  text-decoration:none;
  position: absolute;
  top: 56px;
  width: 150px;
  box-shadow: -3px 3px 4px -4px rgb(17, 16, 16);
  border-top: 1px solid var(--header-footer-line);
  background-color: var(--header-footer-color);
  visibility: hidden;
}

nav .Traducteur:hover #langMenu{
      visibility:visible;
}

#langMenu div{
display: flex;
align-items: center;
text-decoration:none;
  color:#000000;
  font-size: 18px;
  width: 100%;
gap: 3px;
color: var(--text-two);
cursor: pointer;
/* transition: var(--transition2s); */
padding:10px;
}
#langMenu div:hover{
    background-color: var(--second-color);
}



div#fr::after,
div#en::after,
div#es::after,
div#ln::after,
div#zho::after{
    content: attr(class);
    position: relative;
    top: 2px;
    font-size:16px ;
}


/* Le Dark ou light mode */
.theme-mode-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px; 
    background-color: var(--second-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition1s);
}

.theme-mode-btn:hover,
.theme-mode-btn:hover svg{
    background-color: var(--btn-theme-hoverBgColor);
    fill:var(--btn-theme-hoverColor)
}

.theme-mode-btn svg:last-child{
    display: none;
    fill: var(--text-one);
}

.darkmode .theme-mode-btn svg:first-child{
    display: none;
}

.darkmode .theme-mode-btn svg:last-child{
    display: block;
}


        /* la sidebar  */

.sideBar img{
    height: 20px;
    width: 20px;
}
.sideBar{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width:0% ;
    visibility: hidden;
    font-family: var(--font-familly1);
    box-shadow: 0px 0px 5px -1px rgb(17, 16, 16);
    z-index: 15;
    background-color:var(--header-footer-color);
    transition: var(--transition2s);
}

.sideBar.active{
    visibility: visible;
    width:40% ;
}

.sideBar li{
    overflow: hidden;
}

.sideBar > li:not(:nth-child(3)){
    margin-top: 10px;
    padding: 10px;
    overflow: hidden;
}

.overlay,
.overlayForm{
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

.openSideBar, 
.openPanier{
display: none;
align-items: center;
justify-content: center;
width: 30px;
height: 30px;
cursor: pointer;
}

.sideBar li:first-child,
 .closeSideBar{
    margin-bottom: 25px;
}

.lesRayonsSBContainer{
    overflow: hidden;
    height: 70%;
    width: 100%;
    font-size: clamp(15px, 5vw, 20px);
    padding-left: 15px;
    outline: none;
}
.lesRayonsSBContainer ul{
    overflow: hidden;
    height: auto;
    width: 100%;
    gap: 0;
    margin-top: 3px;
}


.btn-lesRayons{
    overflow: hidden;
    width: 100%;
}
.btn-lesRayons svg{
    position: relative;
    top:5px
}

.lesRayonsSB{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: var(--transition2s);
    height: auto;
    border: initial;
    height: 0%;
    width: 100%;
    padding: 10px ;
    visibility: hidden;
}

.lesRayonsSB.active{
    height: 80%;
    visibility: visible;
}

.lesRayonsSB li{
    display: flex;
    width: 100%;
    height: 40px;
    color: var(--logo);
    overflow: hidden;
}

.lesRayonsSB li:first-child{
    margin-bottom: 19px;
}

.lesRayonsSB li a{
    color: rgb(164, 138, 199);
    height: 100%;
    text-align: center;
}

.traducteurSB{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-footer-color);
    color: var(--text-two);
    font-family: var(--font-familly1);
    font-size: clamp(15px, 5vw, 20px);
    border:1px solid var(--header-footer-line);
    border-radius: 5px;

}

.sideBar .theme-mode{
    position: absolute;
    top: 0;
    right: 20px;
}


/* Le footer */
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--header-footer-color);
    color: var(--text-two);
    width: 100%;
    height: 100px;
    border-top: 2px solid var(--header-footer-line);
    font-size:clamp(8px, 2vw, 15px) ;
    gap: 10px;

}

/* Le copyright de BeDrive */
footer .BeDrive{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;

}

.BeDrive .logo{
    font-size:20px ;
    font-size:clamp(10px, 3vw, 20px) ;
    font-weight: bold;
}
.BeDrive .logo::before, #logo::before{
    content: 'Be';
    color: var(--logo);
}

 .BeDrive #logo{
    font-weight: bold;
 }

/* Les conditions générales */

footer  ul{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Les réseaux sociaux */
footer .social-media{
    display: flex;
    flex-grow: 0.1;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  2.5em;
    width: 2.5em;
    border-radius: 50%;
     background-color: var(--AddToCart-BgColor);
     transition: var(--transition1s);
}
.social-media a:hover,
.social-media a:hover svg,
.social-media a:hover svg g {
    background-color: var(--AddToCart-color);
    fill: var(--text-one);
}

.social-media svg{
     height: 1.3em;
     width: 1.3em;
}
.social-media svg g {
    fill:var(--second-color)
}

/* Le boutton 'Contactez nous' */
footer .btn-contact{
    border:none;
    height: 35px;
    max-width: 150px;
    margin-right: 20px;
    padding: 0 5px;
    font-size: clamp(10px, 2vw, 12px);
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition2s);
    background-color: var(--AddToCart-BgColor);
    color: var(--text-one);
    font-family: var(--font-familly1);

}

footer button.btn-contact:hover{
    scale: 1.1;
}

/* Le pop-pup du formulaire de contact */

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:0;
    right:0;
    scale: 0;
    height: clamp(300px, 70%, 400px);
    width: clamp(250px, 70%, 400px);
    pointer-events:auto;
    overflow: hidden;
    z-index: 15;
    transition: var(--transition3s);
}
.form-container.active{
    scale: 1;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.form-container form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 17px 19px 17px 17px;
    gap: 10px;
    border-radius: 30px;
    background-color:#9797d9;
    z-index: 30;
}

.contact-form.active{
    display: flex;
}

 .contact-form input{
    padding-left: 3px;
    height: 2em;
    width: clamp(150px, 10em, 200px);
    border: none;
    border-radius:8px;
}
.contact-form textarea{
    flex-grow:1 ;
    padding: 10px;
    width: 96%;
    border: none;
    border-radius: 10px;
}
.contact-form button{
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    font-family: var(--font-familly2);
    font-size: clamp(7px, 3.5vw, 14px);
    background-color: var(--button-color);
    color: #e5e5f9;
    cursor: pointer;
    transition: var(--transition3s);
}
.contact-form button:hover{
    background-color:#303064; 
}
.contact-form svg{
    position: absolute;
    right: 0;
    margin: 0 20px;
    max-height: 30px;
    max-width: 30px;
    cursor: pointer;
    transition: var(--transition3s);
}

.contact-form svg:hover{
    fill:#303064;
}

.input-form{
   font-family: var(--font-familly2);
}
.input-form::placeholder{
    color:#5353b4;
    opacity: 0.6;
}


                            /* LE CONTENU PRINCIPAL */

/* Le container parent */
 .container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 100vh;
    width: 100%;
    overflow: hidden; 
    padding: 5px;
}

        /* LES SECTIONS  */

    /* La premiere section */
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:82%;
    height: 100%;
    overflow-x: hidden;
    margin-left: 10px;
}

.section1 h2{
    font-size: clamp(8px, 3vw, 20px);
}

/* Le message d'accueil */
.welcome-message{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 5px;
    margin: 2% 0 4% 0;
    overflow: hidden;
}

.welcome-message h1
{
    font-size: clamp(15px, 3.5vw, 30px);
    overflow: hidden;
}
.welcome-message h3{
    text-align: center;
    font-size: clamp(9px, 2vw, 16px);
    padding: 1px 0;
    overflow: hidden;

}

.welcome1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    width: 100%;
    overflow: hidden;
}

.welcome1 .Drive{
    position: relative;
    top: 3px;
}

.welcome1 .Drive::before{
    content: 'Be';
    color: var(--logo);
}

#wlcomMessageH1,
.welcome-message h3{
    font-family: var(--font-familly2);
}

 
        /*La deuxième partie de la section1 -  Les produits à acheter */
.section1Produits {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.section1Produits .header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.header #sect1P2H2{
    margin-right: auto;
}

.header #trierPar{
   
    padding-right: .5vw;
    font-size: clamp(8px, 2vw, 15px);

}
.header select{
    border: 2px solid var(--header-footer-line);
    border-radius: 7px;
    background-color: var(--principal-color);
    color: var(--text-two);
    font-size: clamp(8px, 2vw, 15px);
    font-family: var(--font-familly1);
    overflow: hidden;
}

/* La liste des produits au choix */
.containerProduits,
.section1Produits .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--second-color);
    box-shadow: var(--achat-box-shadow);
    height: 91.5%;
    width: 100%; 
    border-radius: 10px;
    padding: 20px 0 0 0;
    font-size: clamp(10px, 3vw, 17px);
}

.containerProduits .produit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 170px;
    width: 150px;
    gap: 10px;
    padding: 0 5px;
    border-bottom: 2px solid var(--third-color);
    cursor: pointer;
    transition: var(--transition2s);
}
.containerProduits .produit:hover{
    scale: 1.05;
}

.containerProduits .produit img{
    height: clamp(50px, 8vw, 80px);
    width: clamp(50px, 8vw, 80px);

}
.containerProduits .produit:hover{
    scale: 1.05;
}

.prix-AddToCart{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90%;
}
.prix-AddToCart .prix{
   flex-grow: 1;
   display: flex;
   align-items: center;
   height: 100%;
}

.prix-AddToCart svg{
    height: clamp(18px, 3vw, 30px);
    width: clamp(18px, 3vw, 30px);
    padding: 1px;
    border-radius: 3px;
    fill: var(--second-color);
    background-color: var(--AddToCart-BgColor);
    transition: var(--transition3s);

}

.prix-AddToCart svg:hover{
    fill:var(--AddToCart-BgColor);
    background-color: var(--AddToCart-color);
    cursor: pointer;
}

.containerProduits .nom,
.section1Produits .container .nom{
    text-align: center;
    font-size:clamp(10px, 2.5vw, 18px);

    overflow: hidden;
}


.description-produit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    scale: 0;
    z-index: 15;
    transform:translate(-50%, -50%);
    background-color: var(--cart-color);
    color:#f3efef;
    font-size: clamp(10px, 3vw, 20px);

    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);

    height: 200px;
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
    overflow: hidden;

    transition: var(--transition2s);
}

.description-produit.active{
    scale: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.description-produit .img-description{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding-bottom: 5px;
    gap: 10px;
    border-bottom: 1px solid var(--cart-border-color);
    max-height: 40em;
    overflow: hidden;
}
.description-produit img{
    height: clamp(100px,5vw, 200px);
    width: clamp(100px,5vw, 200px);
    border-radius: 10px;
    overflow: hidden;

}

.description-produit div:first-child p{
    width: 70%;
    text-align:justify;
    height: auto;
    line-height: 1.5em ;
}

.description-produit span.prix{
    margin-left: auto;
}

.description-produit .addToCart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 95%;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: var(--transition2s);
   

    background-color: var(--button-color);
}
.description-produit .addToCart:hover{
     scale: 1.05;
}

    /* La deuxieme section */

.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 19%;
    height: 100%;
    gap: 8px;
    font-size: clamp(3px, 1.5vw, 15px);

}

        /* La premiere partie de la section2 */

/* Le panier sur ordi et sur mobile */


.panierOnmobile{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    scale: 0;
    gap: 10px;
    padding: 10px;
    background-color: var(--cart-color); 
    box-shadow: var(--panier-box-shadow);
    width: 50%;
    height: 50%;
    border-radius: 20px;
    transition: var(--transition3s);
    z-index: 15;
    font-size:clamp(11px, 2.5vw, 23px);
}
.panierOnmobile.active{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 1;
}

.panierOnmobile .produits-panier span{
    font-size:clamp(12px, 1.8vw, 23px);
}

   .panierOnmobile .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    }

.panierOnmobile .btn {
    height: 70%;
    width: 30%;
    margin:0 10px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 1px 2px 5px -1px rgba(66, 68, 90, 1);
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: 0.3s cubic-bezier(0.4,0,0.2,1);
    color: white;
}
.panierOnmobile .Total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size:clamp(11px, 2.5vw, 23px);
    overflow: hidden;
    color: #000;

}

/* Le panier sur Ordinateur */
.panier{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: var(--cart-color); 
    box-shadow: var(--panier-box-shadow);
    width: 90%;
    height: 56%;
    border-radius: 10px;
}

/* Le choix du supermarché le moins cher */
.choixSupermarche{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    gap: 15px;
    overflow: hidden;
}
.choixSupermarche select{
    flex-grow: .1;
    height: auto;
    font: 0.8em sans-serif;
    border-radius: 8px;
    color: black; 
    background-color: var(--cart-color);
    border-color: var(--cart-border-color);
}

.choixSupermarche .supermarketImage{
    width: 35px;
    height: 100%;
    background-color: coral;
}
.choixSupermarche img,
.choixSupermarche .img{
    width: 35px;



    
    
}

/* Les produits du panier */
.produits-panier{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1px;
    width: 90%;
    height: 60%;
    padding: 5px 0;
    color: #000000;
    border-top: 1px solid var(--cart-border-color);
    border-bottom: 1px solid var(--cart-border-color);
    scrollbar-width: 1vw;
    -webkit-overflow-scrolling: touch; /* scroll fluide sur iOS */
}


/* Chaque produit du panier */
 .produits-panier > .produit{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    overflow-y: hidden;
    
}

.produits-panier .produit .image-nom{
    display: flex;
    align-items: center;
    font-size: clamp(0.15rem, 1vw, 0.7rem);
    width: 50%;
    gap: 3px;
}
.produits-panier .produit img{
    height: 30px;
    width: 30px;
}
.produits-panier .quantite-prix{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
 }

 .produits-panier input{
    width: 35%;
    background-color:#bdbdea;
    border: none;
    border-radius: 3px;
    padding: 2px 0;
 }

 .quantite-prix .quantite{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 60%;
    gap: 3px;
    background-color: #bdbdea;
    border-radius: 5px;
    font-size: clamp(9px, 1.5vw, 14px);
    margin-left: 2px;
   
    overflow: hidden;
}
    .quantite-prix .quantite span{
        width: 50%;
        height: auto;
        text-align: center;
    }
    .quantite-prix .quantite img{
        cursor: pointer;
    }


/* <!-- Le prix total du panier --> */

 .panier .Total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: black; 
}
.Total .prixTotal{
    font-weight:bold ;
}
.Total{
    overflow: hidden;
}

/* <!-- Les bouttons --> */

.panier .button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: calc(30px + 0.5em);
    margin: 5px 0;
}
.btn{
    height: 70%;
    width: 30%;
    font-family: "Montserrat", sans-serif;
    box-shadow: 1px 2px 5px -1px rgba(66, 68, 90, 1);
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: 0.3s cubic-bezier(0.4,0,0.2,1);
    color: white; 
}
.btn:hover{
    scale:1.08;
}
.btn.valider{
    background-color: var(--button-color);
}
.btn.vider{
    background-color: #6262BB;
}


        /* La deuxieme partie de la section2 */
.ranking{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    background-color:  var(--second-color); 
    width: 90%;
    height: 40%;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px 0;
    box-shadow: var(--ranking-box-shadow);

}

 .titre.ranking{
    border-radius: 0;
    height: 6%;
    border-bottom: 1px solid var(--cart-color);
    box-shadow: initial;
}

 .supermarche.ranking{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 90%;
    width: 80%;
    border-radius:0 ;
    overflow-y: auto; 
    scrollbar-width: 2vw;
    -webkit-overflow-scrolling: touch; /* scroll fluide sur iOS */
    box-shadow: initial;
}

 .supermarche.ranking > div{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    overflow-y: hidden;
    box-shadow: initial;
}
.supermarche.ranking span{
    color: var(--text-two);
    overflow: hidden;
    height: auto;
    box-shadow: initial;

}

.ranking .logoSupermarche {
    width: 40px;
    height: auto;
    object-fit: contain;
}

/* Le ranking onMobile */
.rankingOnMobile{
    display: none;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    background-color:  var(--second-color); 
    width: 100%;
    height: 22%;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px 0;
    margin-top: 10px;
    box-shadow: var(--ranking-box-shadow);      
}
